**/.env
**/.env.*
backend/.env
backend/.env.*
backend/storage/logs
backend/storage/logs/**
backend/storage/framework/cache
backend/storage/framework/cache/**
backend/storage/framework/sessions
backend/storage/framework/sessions/**
backend/storage/framework/views
backend/storage/framework/views/**
backend/bootstrap/cache
backend/bootstrap/cache/**
